@charset "UTF-8";
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
ol,
ul,
li,
aside,
footer,
header,
main {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  position: relative;
  height: 100%;
  color: #444;
  font-family: "Noto Sans KR", "맑은 고딕", Dotum, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.1;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #ffffff;
}
body::-webkit-scrollbar-thumb {
  border-radius: 3.5px;
  background-color: #ced4da;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #adb5bd;
}
body::-webkit-scrollbar-track {
  background: #ffffff;
}

aside,
footer,
header,
main,
div {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  height: 100%;
  display: block;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  outline: 0;
  appearance: none;
}

@keyframes topRotate {
  0% {
    transform: rotate(360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(45deg);
    opacity: 1;
  }
}
@keyframes underRotate {
  0% {
    transform: rotate(360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(-45deg);
    opacity: 1;
  }
}
@keyframes hoverRod {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes leftToRight {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
@keyframes toUp-tr {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes toUp-nm {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
footer {
  position: relative;
  background-color: #f7f7f7;
  padding: 50px 0;
  white-space: nowrap;
}
footer .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer strong {
  font-weight: 500;
}

.ft_logo img {
  min-width: 160px !important;
}

.ft_info {
  margin: 0 0 0 20px;
  color: #999;
  font-size: 0.875em;
}
.ft_info li {
  display: inline-block;
  line-height: 2;
}
.ft_info li:nth-child(1) {
  display: flex;
}

.ft-right {
  display: flex;
  align-items: center;
}
.ft-right > div {
  margin: 0 0 0 20px;
}

.ft_sns {
  display: flex;
}
.ft_sns a {
  width: 36px;
  height: 36px;
}
.ft_sns a + a {
  margin: 0 0 0 10px;
}

.slash {
  padding: 0 8px;
}

.ft_menu {
  font-size: 0.875em;
  display: flex;
  align-items: center;
}
.ft_menu > a {
  margin: 0 0 0 20px;
  width: 60px;
  height: 60px;
}

.ft-depth {
  display: flex;
}
.ft-depth > li {
  position: relative;
  line-height: 2.4;
}
.ft-depth > li + li {
  margin: 0 0 0 20px;
}
.ft-depth > li + li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;
  width: 1px;
  height: 12px;
  background-color: #999;
}

.ft-menu_copy {
  color: #999;
  font-size: 0.75em;
}

header {
  position: relative;
  z-index: 9;
}
header.active .header-top {
  display: none;
}
header.active .header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
header.active .header-nav .gnb {
  line-height: 70px;
}

/* ------------------------------------------------ /
/                   헤더 상단 유틸                   / 
/ ------------------------------------------------ */
.header-top {
  background-color: #f7f7f7;
}
.header-top .util {
  height: 36px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-top .util li {
  position: relative;
  line-height: 36px;
}
.header-top .util li + li {
  margin: 0 0 0 20px;
}
.header-top .util li + li::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -10px;
  width: 1px;
  height: 12px;
  background-color: #999;
}
.header-top .util li:nth-child(1) a {
  padding: 0 10px 0;
}
.header-top .util li:nth-child(2) a {
  width: 36px;
  height: 36px;
  background: url("../imgs/common/icon_mypage.png") no-repeat center;
}
.header-top .util li:nth-child(3) a {
  padding: 0 0 0 36px;
}
.header-top .util li:nth-child(3) a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  background: url("../imgs/common/icon_basket.png") no-repeat center;
}
.header-top .util li:nth-child(3) a span {
  color: #fff;
  font-size: 0.75em;
  padding: 1px 5px;
  background-color: #999;
  border-radius: 50%;
}
.header-top .util a {
  color: #999;
  font-size: 0.875em;
}

/* ------------------------------------------------ /
/                   헤더 하단 메뉴                   / 
/ ------------------------------------------------ */
.header-nav {
  white-space: nowrap;
}
.header-nav .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav .logo img {
  display: block;
  min-width: 160px !important;
}
.header-nav .gnb-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav .gnb-box > li {
  margin: 0 0 0 100px;
}
.header-nav .gnb-box .btn_kakao {
  width: 32px;
  height: 32px;
  background: url("../imgs/common/icon_kakao.png") no-repeat center;
}
.header-nav .gnb {
  line-height: 84px;
}
.header-nav .gnb > ul {
  display: flex;
}
.header-nav .gnb-title {
  position: relative;
}
.header-nav .gnb-title .depth {
  top: 98%;
  left: 50%;
  transform: translateX(-50%);
  width: 170px;
  color: #fff;
  padding: 20px 0;
  background-color: #ee7399;
}
.header-nav .gnb-title .depth > li {
  line-height: 40px;
}
.header-nav .gnb-title:hover .depth {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.header-nav .gnb-title + li {
  margin: 0 0 0 60px;
}
.header-nav .category-link > ul {
  display: flex;
  align-items: center;
  position: relative;
}
.header-nav .categories a {
  transition: 0.2s;
}
.header-nav .categories > a {
  width: 94px;
  height: 36px;
  color: #ee7399;
  font-size: 0.875em;
  line-height: 1;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  border: 1px solid #ee7399;
  box-sizing: border-box;
}
.header-nav .categories > a:hover {
  background-color: rgba(238, 115, 153, 0.3);
}
.header-nav .categories .depth {
  top: 45px;
  left: 0;
  width: 100%;
  font-size: 0.875em;
  border-radius: 20px;
  padding: 10px 0;
  border: 1px solid #ee7399;
  box-sizing: border-box;
  background-color: #fff;
  overflow: hidden;
}
.header-nav .categories .depth > li {
  line-height: 25px;
}
.header-nav .categories .depth a:hover {
  color: #ee7399;
}
.header-nav .categories.on > a {
  background-color: rgba(238, 115, 153, 0.3);
}
.header-nav .categories.on .depth {
  opacity: 1;
  visibility: visible;
}
.header-nav .categories:nth-child(1) > a {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.header-nav .categories:nth-child(2) > a {
  margin: 0 0 0 -1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.header-nav .depth {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

/* ------------------------------------------------ /
/              1024px 이하 햄버거 버튼               / 
/ ------------------------------------------------ */
.mobile {
  display: none;
}
.mobile .hamburger {
  position: relative;
  width: 26px;
  height: 26px;
}
.mobile .hamburger a > span {
  position: absolute;
  width: 100%;
  height: 4px;
  top: 11px;
  background-color: #444;
}
.mobile .hamburger a > span::before {
  content: "";
  position: absolute;
  top: -11px;
  left: none;
  width: 26px;
  height: 4px;
  background-color: #444;
}
.mobile .hamburger a > span::after {
  content: "";
  position: absolute;
  top: 11px;
  left: none;
  width: 14px;
  height: 4px;
  background-color: #444;
  right: 0;
}
.mobile .hamburger:hover a > span::before {
  top: -5px;
  right: -1px;
  width: 14px;
  animation: topRotate 0.3s forwards;
}
.mobile .hamburger:hover a > span::after {
  top: 5px;
  right: -1px;
  width: 14px;
  animation: underRotate 0.3s forwards;
}

/* ------------------------------------------------ /
/                  1024px 이하 메뉴                  / 
/ ------------------------------------------------ */
.aside {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.aside.visible {
  opacity: 1;
  visibility: visible;
}
.aside.visible .aside-wrap {
  left: 0;
}
.aside.visible .btn-mo_close::before {
  opacity: 1;
  transform: rotate(-45deg);
}
.aside.visible .btn-mo_close::after {
  opacity: 1;
  transform: rotate(45deg);
}

.btn-mo_close {
  position: absolute;
  top: 15px;
  left: 305px;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.btn-mo_close::before, .btn-mo_close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 30px;
  height: 4px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transform: rotate(0deg);
  transition: 0.5s 0.7s;
  opacity: 0;
}

.aside-wrap {
  left: -100%;
  width: 300px;
  height: 100%;
  position: relative;
  background-color: #fff;
  overflow-x: hidden;
  transition: left 0.5s linear;
}
.aside-wrap::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #ffffff;
}
.aside-wrap::-webkit-scrollbar-thumb {
  border-radius: 3.5px;
  background-color: #ced4da;
}
.aside-wrap::-webkit-scrollbar-thumb:hover {
  background-color: #adb5bd;
}
.aside-wrap::-webkit-scrollbar-track {
  background: #ffffff;
}
.aside-wrap > li {
  padding: 15px;
  box-sizing: border-box;
}
.aside-wrap .users-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875em;
}
.aside-wrap .users-box li:nth-child(1) {
  color: #999;
}
.aside-wrap .users-box li:nth-child(2) {
  display: flex;
}
.aside-wrap .users-box li:nth-child(2) a {
  color: #ee7399;
  padding: 5px 10px;
  border: 1px solid #ee7399;
  box-sizing: border-box;
  border-radius: 3px;
}
.aside-wrap .users-box li:nth-child(2) a + a {
  margin: 0 0 0 3px;
  color: #444;
  border-color: #999;
}
.aside-wrap .users-box li:nth-child(2) a:hover {
  color: #444;
  border-color: #444;
}
.aside-wrap > li:nth-child(2) {
  padding: 25px 15px;
  box-sizing: border-box;
  background-color: #ee7399;
}
.aside-wrap .lnb {
  color: #fff;
}
.aside-wrap .lnb .lnb-title > a {
  font-size: 1.125em;
  line-height: 1.8;
}
.aside-wrap .lnb .lnb-title > a:hover, .aside-wrap .lnb .lnb-title > a.active {
  color: #f6daa4;
}
.aside-wrap .lnb .lnb-title + li {
  margin: 10px 0 0;
}
.aside-wrap .depth {
  display: none;
  font-size: 0.875em;
  margin: 10px;
}
.aside-wrap .depth > li + li {
  margin: 5px 0 0;
}
.aside-wrap .depth > li a {
  position: relative;
  display: inline-block;
  line-height: 1.6;
  padding: 5px 0;
  box-sizing: border-box;
}
.aside-wrap .depth > li a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #f6daa4;
}
.aside-wrap .depth > li a:hover::after {
  animation: hoverRod 0.3s forwards;
}
.aside-wrap .category-link {
  display: flex;
  justify-content: center;
}
.aside-wrap .category-link .categories > a {
  color: #ee7399;
  font-size: 0.875em;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  border: 1px solid #ee7399;
  box-sizing: border-box;
  transition: 0.3s;
}
.aside-wrap .category-link .categories > a:hover {
  background-color: rgba(238, 115, 153, 0.1);
}
.aside-wrap .category-link .categories:nth-child(1) a {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.aside-wrap .category-link .categories:nth-child(2) a {
  margin: 0 0 0 -1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.aside-wrap .m-util {
  display: flex;
  justify-content: space-between;
}
.aside-wrap .m-util a {
  padding: 50px 0 0;
  box-sizing: border-box;
  font-size: 0.875em;
}
.aside-wrap .m-util li:nth-child(1) a {
  background: url("../imgs/common/mo_icon_mypage.png") no-repeat center 10px;
  background-size: 70%;
}
.aside-wrap .m-util li:nth-child(2) a {
  background: url("../imgs/common/mo_icon_cart.png") no-repeat center 10px;
  background-size: 60%;
}
.aside-wrap .m-util li:nth-child(3) a {
  background: url("../imgs/common/mo_icon_delivery.png") no-repeat center 10px;
  background-size: 60%;
}
.aside-wrap .m-util li:nth-child(4) a {
  background: url("../imgs/common/mo_icon_wish.png") no-repeat center 10px;
  background-size: 50%;
}
.aside-wrap .goods {
  padding: 30px 0 0;
}
.aside-wrap .goods p {
  font-size: 1.25em;
  line-height: 1.5;
  padding: 10px 15px;
  box-sizing: border-box;
}
.aside-wrap .goods .goods-list {
  padding: 25px 15px;
  border: 1px solid #999;
  box-sizing: border-box;
  border-left: 0;
  border-right: 0;
  text-align: center;
}
.aside-wrap .goods .goods-list span {
  color: #999;
  font-size: 0.875em;
}

/* --------------------------------------------- /
/                   상단 이동 버튼                / 
/ --------------------------------------------- */
.top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 36px;
  height: 36px;
  color: #444;
  font-size: 0.75em;
  background: #f4f4f4 url("../imgs/common/icon_arrowTop.png") no-repeat;
  background-position: center 3px;
  background-size: 60%;
  padding: 18px 0 0;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.top.visible {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

/* ------------------------------------------- /
/               컨텐츠 영역 공통                / 
/ ------------------------------------------- */
.main-container .inner {
  position: relative;
  max-width: 1500px;
}

.object {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.text .ex-text {
  opacity: 0;
  color: #999;
  margin: 30px 0 0;
  font-size: 0.875em;
  line-height: 2;
}
.text .section-title {
  color: #d2d5dd;
  font-size: 62px;
}
.text .section-em {
  opacity: 0;
  width: 50%;
  font-size: 46px;
  line-height: 1.4;
}

.items-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.items-box .item {
  opacity: 0;
}
.items-box .item a {
  padding: 10%;
  box-sizing: border-box;
}
.items-box .item-top {
  color: #fff;
  font-size: 1.25em;
  line-height: 1.4;
}

/* ------------------------------------------- /
/            js - 애니메이션 CLASS              / 
/ ------------------------------------------- */
.mv-rnl {
  animation: rightToLeft 1s forwards;
}

.mv-lnr {
  animation: leftToRight 1s forwards;
}

.chng-scale {
  animation: scale 1s forwards;
}

.mv-trUp {
  animation: toUp-tr 1s forwards;
}

.mv-nmUp {
  animation: toUp-nm 1s forwards;
}

.mv-forUp {
  animation: toUp-tr 1s 1s forwards;
}
.mv-forUp:nth-child(1) {
  animation-delay: 0.4s;
}
.mv-forUp:nth-child(2) {
  animation-delay: 0.8s;
}
.mv-forUp:nth-child(3) {
  animation-delay: 1.2s;
}
.mv-forUp:nth-child(4) {
  animation-delay: 1.6s;
}

/* ------------------------------------------- /
/                  메인 비주얼                  / 
/ ------------------------------------------- */
.main-visual {
  position: relative;
  margin: -84px 0 0;
  min-height: 960px;
}
.main-visual .object {
  opacity: 0;
  animation: rightToLeft 1s 0.6s forwards;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../imgs/main/mv1.png") no-repeat;
  background-position: right top;
  background-size: auto 100%;
}
.main-visual .text {
  opacity: 0;
  animation: leftToRight 1s 0.6s forwards;
  position: absolute;
  top: 300px;
  color: #ffa4c0;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}
.main-visual .text .visual-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 80px;
}
.main-visual .text .ex-text {
  color: #ffa4c0;
}
.main-visual .text > a {
  margin: 80px 0 0;
  height: 48px;
  position: relative;
  display: inline-block;
  padding: 0 0 0 70px;
}
.main-visual .text > a span {
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}
.main-visual .text > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 100%;
  border-radius: 50%;
  background: #ffa4c0 url("../imgs/common/icon_arrow1.png") no-repeat center;
  background-size: 50%;
}

/* ------------------------------------------- /
/              섹션 2 어여모 안내               / 
/ ------------------------------------------- */
.about {
  margin: 200px 0 0;
}
.about .object {
  top: -200px;
  left: -300px;
  width: 430px;
  height: 430px;
  border-radius: 50%;
  background: linear-gradient(#fbdaca 12%, #f8ced3 70%);
}
.about .text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  word-break: keep-all;
  margin: 0 0 70px;
}
.about .text .ex-text {
  width: 50%;
  display: inline-block;
}
.about .items-box .item {
  width: 23%;
  height: 290px;
  margin: 4% 0 0;
  background-size: 37px;
  background-position: right 16% bottom 15%;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.about .items-box .item:nth-child(1) {
  background-color: #cec0eb;
  background-image: url("../imgs/main/about_icon01.png");
}
.about .items-box .item:nth-child(2) {
  background-color: #ebb5cf;
  background-image: url("../imgs/main/about_icon02.png");
}
.about .items-box .item:nth-child(3) {
  background-color: #f6dda8;
  background-image: url("../imgs/main/about_icon03.png");
}
.about .items-box .item:nth-child(4) {
  background-color: #c5e1f2;
  background-image: url("../imgs/main/about_icon04.png");
}
.about .items-box span {
  position: relative;
}
.about .items-box span::before, .about .items-box span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 10px;
  background-color: #fff;
  transition: 0.2s;
}
.about .items-box span::before {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
.about .items-box span::after {
  left: 17px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}
.about .items-box .item-top {
  padding: 30px 0 0;
}
.about .items-box .item:hover {
  border-bottom-right-radius: 100px;
}
.about .items-box .item:hover:nth-child(1) {
  background-color: #aa8ce8;
}
.about .items-box .item:hover:nth-child(2) {
  background-color: #ef67a9;
}
.about .items-box .item:hover:nth-child(3) {
  background-color: #f2cb78;
}
.about .items-box .item:hover:nth-child(4) {
  background-color: #7fc2eb;
}
.about .items-box .item:hover span::before {
  left: -1px;
  transform: rotate(25deg);
}
.about .items-box .item:hover span::after {
  left: 19px;
  transform: rotate(-25deg);
}

/* ------------------------------------------- /
/               섹션 3 건강 백서                / 
/ ------------------------------------------- */
.health {
  z-index: 1;
  position: relative;
  margin: 280px 0 240px;
}
.health .object {
  top: -150px;
  right: -200px;
  width: 680px;
  height: 680px;
  border-radius: 50%;
  background: linear-gradient(-145deg, #f7c2c8 15%, #cec0eb 90%);
}
.health .object strong {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 60px;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.health .text {
  opacity: 0;
  margin: 0 0 80px;
}
.health .items-box {
  width: 75%;
}
.health .items-box .item {
  position: relative;
  width: 30%;
  height: 270px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.health .items-box .item a {
  padding: 0;
}
.health .items-box .item-bottom {
  position: relative;
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 20px 0 0 40px;
}
.health .items-box .item-bottom::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 0;
  width: 26px;
  height: 2px;
  background-color: #444;
}

/* ------------------------------------------- /
/                섹션 4 공지사항                / 
/ ------------------------------------------- */
.notice {
  position: relative;
}
.notice .object {
  top: -400px;
  right: 0;
  width: 60%;
  height: 200%;
  position: absolute;
  background: url("../imgs/main/board_bg.png") no-repeat;
  background-position: left bottom;
}
.notice .text {
  opacity: 0;
  position: relative;
}
.notice .text .section-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 66px;
  display: inline-block;
}
.notice .text > a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 0 0 30px;
  background: #d2d5dd url("../imgs/common/icon_arrow1.png") no-repeat center;
  background-size: 50%;
  border-radius: 50%;
}
.notice .notice-items {
  margin: 80px 0 100px;
  display: flex;
}
.notice .notice-items .board {
  opacity: 0;
  width: 40%;
  min-width: 300px;
}
.notice .notice-items .board .board-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  font-size: 1.375em;
}
.notice .notice-items .board .board-date {
  margin: 30px 0 50px;
  color: #999;
  font-size: 0.875em;
}
.notice .notice-items .imgs {
  opacity: 0;
  position: relative;
  padding: 0 0 0 100px;
  width: 55%;
  background: url("../imgs/main/board_img.png") no-repeat;
  background-size: auto 100%;
  background-position: right bottom;
  transform: scale(1.5);
}

/* ------------------------------------------- /
/               섹션 5 관련 링크                / 
/ ------------------------------------------- */
.banner {
  margin: 260px 0 160px;
}
.banner .items-box .item {
  opacity: 1;
  width: 32%;
  height: 315px;
}
.banner .items-box .item:nth-child(1) {
  background: linear-gradient(135deg, #f6dda8 20%, #ffd5b5 80%);
}
.banner .items-box .item:nth-child(2) {
  background: linear-gradient(135deg, #cec0eb 20%, #c8e9ff 70%);
}
.banner .items-box .item:nth-child(3) {
  background: linear-gradient(135deg, #ffacc6 20%, #ffe6b2 85%);
}
.banner .items-box .item:nth-child(3) img {
  right: -10px;
}
.banner .items-box .item-top {
  position: relative;
  margin: 0 0 26px 0;
  font-family: "Jua", sans-serif;
  font-size: 1.563em;
  font-weight: normal;
}
.banner .items-box .item-top::after {
  right: 0;
  content: "";
  position: absolute;
  top: 0;
  left: none;
  width: 28px;
  height: 28px;
  background: url("../imgs/common/icon_arrow2.png") no-repeat;
  background-size: cover;
  z-index: 1;
}
.banner .items-box .item-center {
  color: #fff;
  position: relative;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}
.banner .items-box .item-center p {
  width: 60%;
  line-height: 1.8;
  word-break: keep-all;
  z-index: 1;
}
.banner .items-box .item-center img {
  position: absolute;
  right: -30px;
  bottom: 0;
}

/* ------------------------------------------------ /
/                    전체 기본 값                    / 
/ ------------------------------------------------ */
.wrap {
  min-width: 340px;
  overflow: hidden;
}
.wrap .blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
.wrap .br {
  display: none;
}

.inner {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}

.ft_info li:nth-child(2) .slash {
  display: none;
}

/* ------------------------------------------------ /
/                 1367px - 1600px                   / 
/ -------------  1600px 이하 일 때  -------------- */
@media screen and (max-width: 1600px) {
  .header-nav .gnb-box > li {
    margin: 0 0 0 55px;
  }
  .header-nav .gnb-title + li {
    margin: 0 0 0 35px;
  }

  .main-visual {
    min-height: 800px;
  }

  .health .object {
    right: -300px;
  }

  .ft_info li {
    display: block;
  }
  .ft_info li:nth-child(3) p .slash:nth-child(1) {
    display: none;
  }
}
/* ------------------------------------------------ /
/                  1281px - 1366px                  / 
/ --------------  1366px 이하 일 때  ------------- */
@media screen and (max-width: 1366px) {
  .wrap .inner {
    padding: 0 30px;
  }

  .header-nav .gnb-box > li {
    margin: 0 0 0 40px;
  }
  .header-nav .gnb-title + li {
    margin: 0 0 0 20px;
  }

  .main-visual .object {
    background-position: center top;
  }

  .health .object {
    top: -250px;
  }

  .notice .object {
    transform: scale(0.9);
    top: -300px;
    right: -200px;
    height: 180%;
  }
  .notice .notice-items .imgs {
    transform: scale(1.3);
  }
}
/* ------------------------------------------------ /
/                  1024px - 1280px                  / 
/ --------------  1280px 이하 일 때  ------------- */
@media screen and (max-width: 1280px) {
  .wrap .inner {
    padding: 0 20px;
  }

  .header-nav .gnb-box > li {
    margin: 0 0 0 10px;
  }
  .header-nav .gnb-title + li {
    margin: 0 0 0 10px;
  }

  .main-visual {
    min-height: 700px;
  }
  .main-visual .text .visual-title {
    font-size: 70px;
  }
  .main-visual .text > a {
    margin: 50px 0 0;
  }

  .about .text .section-em {
    width: 100%;
  }
  .about .text .ex-text {
    width: 100%;
  }

  .health {
    margin: 200px 0 80px;
  }
  .health .object {
    top: -180px;
    right: -150px;
    width: 550px;
    height: 550px;
  }

  .notice .object {
    background-size: cover;
    right: -100px;
    transform: none;
  }
  .notice .notice-items .imgs {
    width: 60%;
    top: 100px;
    right: -50px;
    transform: none;
  }

  .banner .items-box .item:nth-child(1) img {
    transform: scale(0.95);
  }
  .banner .items-box .item:nth-child(2) .item-center p {
    width: 100%;
  }
  .banner .items-box .item:nth-child(2) img {
    transform: scale(0.8);
    right: -40px;
  }

  .ft-right {
    display: block;
  }

  .ft_info,
.ft-right > div,
.ft_menu > a {
    margin: 0 0 0 10px;
  }
}
/* ------------------------------------------------ /
/                  768px - 1023px                   / 
/ --------------  1023px 이하 일 때  -------------- */
@media screen and (max-width: 1023px) {
  .header-top .util li:nth-child(3) {
    display: none;
  }

  .header-nav {
    padding: 20px 0;
  }
  .header-nav .gnb-box > li {
    margin: 0 0 0 30px;
  }

  .gnb {
    display: none;
  }

  .mobile {
    display: block;
  }

  .main-visual {
    min-height: 600px;
  }
  .main-visual .text .visual-title {
    font-size: 60px;
  }
  .main-visual .text > a {
    height: 40px;
    padding: 0 0 0 55px;
    margin: 30px 0 0;
  }
  .main-visual .text > a::before {
    width: 40px;
  }
  .main-visual .text .br {
    display: block;
  }

  .about .items-box .item-top {
    font-size: 18px;
  }
  .about .items-box .item a {
    padding: 15% 10%;
  }
  .about .items-box .item:hover {
    border-bottom-right-radius: 40px;
  }

  .health .object {
    top: -120px;
    width: 460px;
    height: 460px;
  }

  .notice .object {
    top: -100px;
    right: 0;
    height: 130%;
    background-size: cover;
  }
  .notice .notice-items .imgs {
    right: 0;
    background-size: 100%;
  }

  .banner .items-box .item:nth-child(1) .item-center p {
    width: 100%;
  }
  .banner .items-box .item:nth-child(1) img {
    transform: scale(0.85);
  }
  .banner .items-box .item:nth-child(3) img {
    transform: scale(0.8);
  }

  footer .inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .ft-right {
    width: 100%;
  }

  .ft_menu {
    width: 100%;
    justify-content: space-between;
  }

  .ft_info {
    width: 100%;
    margin: 20px 0 10px;
  }
  .ft_info li {
    display: inline-block;
  }
  .ft_info li:nth-child(3) p .slash:nth-child(1) {
    display: inline-block;
  }

  .ft-right > div {
    margin: 10px 0 0;
  }

  .ft_menu > a {
    margin: 0;
  }
}
/* ----------------------------------------------- /
/                   421px - 767px                  / 
/ ---------------  767px 이하 일 때  ------------- */
@media screen and (max-width: 767px) {
  .header-top,
.category-link {
    display: none;
  }

  .header-nav {
    padding: 15px 0;
  }

  .mobile .hamburger a > span {
    height: 2px;
  }
  .mobile .hamburger a > span::before, .mobile .hamburger a > span::after {
    height: 2px;
  }

  .main-visual {
    margin: 0;
    min-height: 500px;
  }
  .main-visual .text {
    top: 200px;
  }
  .main-visual .text .visual-title {
    font-size: 44px;
  }
  .main-visual .text > a {
    height: 30px;
    padding: 0 0 0 50px;
    margin: 30px 0 0;
  }
  .main-visual .text > a::before {
    width: 30px;
  }

  .about {
    margin: 100px 0 0;
  }
  .about .items-box .item {
    width: 48%;
    height: 220px;
    background-position: right 10% bottom 10%;
  }
  .about .text {
    margin: 0 0 30px;
  }
  .about .text .section-em {
    font-size: 30px;
  }
  .about .text .ex-text {
    margin: 20px 0 0;
  }

  .health {
    margin: 150px 0 80px;
  }
  .health .object {
    right: -100px;
    width: 300px;
    height: 300px;
  }
  .health .object strong {
    font-size: 30px;
  }
  .health .text {
    margin: 0 0 50px;
  }
  .health .text .section-title {
    font-size: 48px;
  }
  .health .items-box {
    width: 100%;
  }
  .health .items-box .item {
    width: 100%;
    height: auto;
  }
  .health .items-box .item a {
    overflow: hidden;
  }
  .health .items-box .item img {
    transform: scale(1.1);
  }
  .health .items-box .item-bottom {
    font-size: 1em;
    background-color: #fff;
  }

  .notice .object {
    top: -150px;
    height: 100%;
    width: 90%;
  }
  .notice .text .section-title {
    font-size: 52px;
  }
  .notice .text > a {
    width: 34px;
    height: 34px;
  }
  .notice .notice-items {
    flex-wrap: wrap;
    margin: 40px 0 0;
  }
  .notice .notice-items .board {
    margin: 0 0 50px;
    width: 100%;
    min-width: 100%;
  }
  .notice .notice-items .board .board-title {
    font-size: 1em;
  }
  .notice .notice-items .board .board-date {
    margin: 20px 0 35px;
  }
  .notice .notice-items .imgs {
    top: -50px;
    width: 100%;
    height: 350px;
    background-size: auto 100%;
    background-position: center bottom;
  }

  .banner {
    margin: 80px 0 160px;
  }
  .banner .items-box .item {
    width: 100%;
    height: 270px;
  }
  .banner .items-box .item + .item {
    margin: 20px 0 0;
  }
  .banner .items-box .item a {
    padding: 5%;
  }

  .ft_logo {
    margin: 0 auto;
  }

  .ft_info {
    text-align: center;
  }
  .ft_info li {
    display: block;
  }
  .ft_info li:nth-child(1) {
    justify-content: center;
  }
  .ft_info li:nth-child(3) p .slash:nth-child(1) {
    display: none;
  }

  .ft-right {
    text-align: center;
  }

  .ft_sns,
.ft-depth {
    justify-content: center;
  }

  .ft_menu {
    flex-wrap: wrap;
  }
  .ft_menu ul {
    width: 100%;
  }
  .ft_menu > a {
    margin: 20px auto 0;
  }
}
/* ----------------------------------------------- /
/                   min - 420px                    / 
/ --------------  420px 이하 일 때  -------------- */
@media screen and (max-width: 420px) {
  .main-visual .text .visual-title {
    font-size: 36px;
  }

  .about .items-box .item-top {
    font-size: 1em;
    padding: 24px 0 0;
  }
  .about .items-box .item {
    height: 200px;
  }
  .about .items-box .item:hover {
    border-bottom-right-radius: 30px;
  }
  .about .text {
    margin: 0 0 20px;
  }
  .about .text .section-em {
    font-size: 24px;
  }
  .about .text .ex-text {
    margin: 10px 0 0;
  }

  .health {
    margin: 110px 0 70px;
  }
  .health .object {
    top: -80px;
    right: -50px;
    width: 210px;
    height: 210px;
  }
  .health .object strong {
    font-size: 22px;
  }
  .health .text {
    margin: 0 0 40px;
  }
  .health .text .section-title {
    font-size: 40px;
  }
  .health .items-box .item-bottom {
    padding: 20px 0 0 30px;
  }
  .health .items-box .item-bottom::before {
    width: 20px;
  }

  .notice .object {
    top: -100px;
    width: 100%;
    height: 80%;
  }
  .notice .text .section-title {
    font-size: 44px;
  }
  .notice .notice-items .board .board-date {
    font-size: 13px;
  }
  .notice .notice-items .imgs {
    height: 260px;
    background-position: center;
  }

  .banner .items-box .item a {
    padding: 7% 5%;
  }
  .banner .items-box .item-top {
    font-size: 1.375em;
  }
  .banner .items-box .item-center p {
    font-size: 0.875em;
    line-height: 1.6;
  }
  .banner .items-box .item:nth-child(3) .item-center p {
    width: 50%;
  }

  .ft_info {
    font-size: 13px;
  }
  .ft_info li:nth-child(1) {
    flex-wrap: wrap;
  }
  .ft_info li:nth-child(1) .slash {
    display: none;
  }
  .ft_info li:nth-child(1) > strong {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
