/* --------------------------------------------- /
/                   상단 이동 버튼                / 
/ --------------------------------------------- */
.top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 36px;
  height: 36px;
  color: $color_black;
  font-size: 0.75em;
  background: #f4f4f4 url("../imgs/common/icon_arrowTop.png") no-repeat;
  background-position: center 3px;
  background-size: 60%;
  padding: 18px 0 0;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  &.visible {
    opacity: 1;
    visibility: visible;
    z-index: 5;
  }
}

/* ------------------------------------------- /
/               컨텐츠 영역 공통                / 
/ ------------------------------------------- */
.main-container {
  .inner {
    position: relative;
    max-width: 1500px;
  }
}
.object {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.text {
  .ex-text {
    opacity: 0;
    color: $color_gray;
    margin: 30px 0 0;
    font-size: $font-size_small;
    line-height: 2;
  }
  .section-title {
    color: $color-title_gray;
    font-size: 62px;
  }
  .section-em {
    opacity: 0;
    width: 50%;
    font-size: 46px;
    line-height: 1.4;
  }
}
.items-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .item {
    opacity: 0;
    a {
      @include padding(10%);
    }
  }
  .item-top {
    color: #fff;
    font-size: $font-size_normal;
    line-height: 1.4;
  }
}
/* ------------------------------------------- /
/            js - 애니메이션 CLASS              / 
/ ------------------------------------------- */
.mv-rnl {
  animation: rightToLeft 1s forwards;
}
.mv-lnr {
  animation: leftToRight 1s forwards;
}
.chng-scale {
  animation: scale 1s forwards;
}
.mv-trUp {
  animation: toUp-tr 1s forwards;
}
.mv-nmUp {
  animation: toUp-nm 1s forwards;
}
.mv-forUp {
  animation: toUp-tr 1s 1s forwards;
  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      animation-delay: $i * 0.4s;
    }
  }
}
/* ------------------------------------------- /
/                  메인 비주얼                  / 
/ ------------------------------------------- */
.main-visual {
  position: relative;
  margin: -84px 0 0;
  min-height: 960px;
  .object {
    opacity: 0;
    animation: rightToLeft 1s 0.6s forwards;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../imgs/main/mv1.png") no-repeat;
    background-position: right top;
    background-size: auto 100%;
  }
  .text {
    opacity: 0;
    animation: leftToRight 1s 0.6s forwards;
    position: absolute;
    top: 300px;
    color: $color-visual_pink;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
    .visual-title {
      @include usedFontPoppins;
      font-size: 80px;
    }
    .ex-text {
      color: $color-visual_pink;
    }
    > a {
      margin: 80px 0 0;
      height: 48px;
      position: relative;
      display: inline-block;
      padding: 0 0 0 70px;
      span {
        position: relative;
        display: block;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    > a::before {
      @include element(48px, 100%);
      border-radius: 50%;
      background: $color-visual_pink url("../imgs/common/icon_arrow1.png")
        no-repeat center;
      background-size: 50%;
    }
  }
}
/* ------------------------------------------- /
/              섹션 2 어여모 안내               / 
/ ------------------------------------------- */
.about {
  margin: 200px 0 0;
  .object {
    top: -200px;
    left: -300px;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    background: linear-gradient(#fbdaca 12%, #f8ced3 70%);
  }
  .text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    word-break: keep-all;
    margin: 0 0 70px;
    .ex-text {
      width: 50%;
      display: inline-block;
    }
  }
  .items-box {
    .item {
      width: 23%;
      height: 290px;
      margin: 4% 0 0;
      background-size: 37px;
      background-position: right 16% bottom 15%;
      background-repeat: no-repeat;
      transition: 0.3s;
    }
    .item:nth-child(1) {
      background-color: #cec0eb;
      background-image: url("../imgs/main/about_icon01.png");
    }
    .item:nth-child(2) {
      background-color: #ebb5cf;
      background-image: url("../imgs/main/about_icon02.png");
    }
    .item:nth-child(3) {
      background-color: #f6dda8;
      background-image: url("../imgs/main/about_icon03.png");
    }
    .item:nth-child(4) {
      background-color: #c5e1f2;
      background-image: url("../imgs/main/about_icon04.png");
    }
    span {
      position: relative;
      &::before,
      &::after {
        @include element(16px, 10px, 0);
        background-color: #fff;
        transition: 0.2s;
      }
      &::before {
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
      }
      &::after {
        left: 17px;
        border-top-right-radius: 9px;
        border-bottom-right-radius: 9px;
      }
    }
    .item-top {
      padding: 30px 0 0;
    }
    .item:hover {
      &:nth-child(1) {
        background-color: #aa8ce8;
      }
      &:nth-child(2) {
        background-color: #ef67a9;
      }
      &:nth-child(3) {
        background-color: #f2cb78;
      }
      &:nth-child(4) {
        background-color: #7fc2eb;
      }
      border-bottom-right-radius: 100px;
      span::before {
        left: -1px;
        transform: rotate(25deg);
      }
      span::after {
        left: 19px;
        transform: rotate(-25deg);
      }
    }
  }
}
/* ------------------------------------------- /
/               섹션 3 건강 백서                / 
/ ------------------------------------------- */
.health {
  z-index: 1;
  position: relative;
  margin: 280px 0 240px;
  .object {
    top: -150px;
    right: -200px;
    width: 680px;
    height: 680px;
    border-radius: 50%;
    background: linear-gradient(-145deg, #f7c2c8 15%, #cec0eb 90%);
    strong {
      position: absolute;
      color: rgba(255, 255, 255, 0.7);
      @include usedFontPoppins;
      font-size: 60px;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
    }
  }
  .text {
    opacity: 0;
    margin: 0 0 80px;
  }
  .items-box {
    width: 75%;
    .item {
      position: relative;
      width: 30%;
      height: 270px;
      background-size: 100% auto;
      background-repeat: no-repeat;
      a {
        padding: 0;
      }
    }
    .item-bottom {
      position: relative;
      font-size: 18px;
      margin: 0 0 20px 0;
      padding: 20px 0 0 40px;
      &::before {
        @include element(26px, 2px, 29px);
        background-color: $color_black;
      }
    }
  }
}
/* ------------------------------------------- /
/                섹션 4 공지사항                / 
/ ------------------------------------------- */
.notice {
  position: relative;
  .object {
    top: -400px;
    right: 0;
    width: 60%;
    height: 200%;
    position: absolute;
    background: url("../imgs/main/board_bg.png") no-repeat;
    background-position: left bottom;
  }
  .text {
    opacity: 0;
    position: relative;
    .section-title {
      @include usedFontPoppins;
      font-size: 66px;
      display: inline-block;
    }
    > a {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 0 0 0 30px;
      background: $color-title_gray url("../imgs/common/icon_arrow1.png")
        no-repeat center;
      background-size: 50%;
      border-radius: 50%;
    }
  }
  .notice-items {
    margin: 80px 0 100px;
    display: flex;
    .board {
      opacity: 0;
      width: 40%;
      min-width: 300px;
      .board-title {
        @include ellipsis;
        font-size: $font-size_large;
      }
      .board-date {
        margin: 30px 0 50px;
        color: $color_gray;
        font-size: $font-size_small;
      }
    }
    .imgs {
      opacity: 0;
      position: relative;
      padding: 0 0 0 100px;
      width: 55%;
      background: url("../imgs/main/board_img.png") no-repeat;
      background-size: auto 100%;
      background-position: right bottom;
      transform: scale(1.5);
    }
  }
}
/* ------------------------------------------- /
/               섹션 5 관련 링크                / 
/ ------------------------------------------- */
.banner {
  margin: 260px 0 160px;
  .items-box {
    .item {
      opacity: 1;
      width: 32%;
      height: 315px;
    }
    .item:nth-child(1) {
      background: linear-gradient(135deg, #f6dda8 20%, #ffd5b5 80%);
    }
    .item:nth-child(2) {
      background: linear-gradient(135deg, #cec0eb 20%, #c8e9ff 70%);
    }
    .item:nth-child(3) {
      background: linear-gradient(135deg, #ffacc6 20%, #ffe6b2 85%);
      img {
        right: -10px;
      }
    }
    .item-top {
      position: relative;
      margin: 0 0 26px 0;
      @include usedFontJua;
      &::after {
        right: 0;
        @include element(28px, 28px, 0, none);
        background: url("../imgs/common/icon_arrow2.png") no-repeat;
        background-size: cover;
        z-index: 1;
      }
    }
    .item-center {
      color: #fff;
      position: relative;
      height: 80%;
      display: flex;
      flex-wrap: wrap;
      p {
        width: 60%;
        line-height: 1.8;
        word-break: keep-all;
        z-index: 1;
      }
      img {
        position: absolute;
        right: -30px;
        bottom: 0;
      }
    }
  }
}
