// common
.wrap {
  min-width: 340px;
  .blind {
    @include blind;
  }
  .br {
    display: none;
  }
}
.inner {
  max-width: 1900px;
  margin: 0 auto;
  @include padding(0 50px);
}
// **** //// f o o t e r //// **** //
.ft_info {
  li:nth-child(2) .slash {
    display: none;
  }
}
// max-width 1024px 이상 일 때
@include otherPoint(1600px) {
  // **** //// h e a d e r //// **** //
  .header-nav {
    .gnb-box > li {
      margin: 0 0 0 55px;
    }
    .gnb-title + li {
      margin: 0 0 0 35px;
    }
  }
  // **** //// m a i n //// **** //
  .main-visual {
    min-height: 800px;
  }
  // **** //// f o o t e r ////  **** //
  .ft_info {
    li {
      display: block;
    }
    li:nth-child(3) p .slash:nth-child(1) {
      display: none;
    }
  }
}
@include otherPoint(1366px) {
  .wrap .inner {
    padding: 0 30px;
  }
  // **** //// h e a d e r ////  **** //
  .header-nav {
    .gnb-box > li {
      margin: 0 0 0 40px;
    }
    .gnb-title + li {
      margin: 0 0 0 20px;
    }
  }
  // **** //// m a i n //// **** //
  .main-visual {
    .object {
      background-position: center top;
    }
  }
}
@include otherPoint(1280px) {
  .wrap .inner {
    padding: 0 20px;
  }
  // **** //// h e a d e r //// **** //
  .header-nav {
    .gnb-box > li {
      margin: 0 0 0 10px;
    }
    .gnb-title + li {
      margin: 0 0 0 10px;
    }
  }
  // **** //// m a i n //// **** //
  .main-visual {
    min-height: 700px;
    .text {
      .visual-title {
        font-size: 70px;
      }
      > a {
        margin: 50px 0 0;
      }
    }
  }
  .about {
    .text {
      .section-em {
        width: 100%;
      }
      .ex-text {
        width: 100%;
      }
    }
  }
  // **** //// f o o t e r ////  **** //
  .ft-right {
    display: block;
  }
  .ft_info,
  .ft-right > div,
  .ft_menu > a {
    margin: 0 0 0 10px;
  }
}
// width 768px ~ 1023px까지
@include desktop {
  // **** //// h e a d e r //// **** //
  .header-top {
    .util li:nth-child(3) {
      display: none;
    }
  }
  .gnb {
    display: none;
  }
  .mobile {
    display: block;
  }
  // **** //// m a i n //// **** //
  .main-visual {
    min-height: 600px;
    .text {
      .visual-title {
        font-size: 60px;
      }
      > a {
        height: 40px;
        padding: 0 0 0 55px;
        margin: 30px 0 0;
        &::before {
          width: 40px;
        }
      }
      .br {
        display: block;
      }
    }
  }
  .about {
    .items-box {
      .item-top {
        font-size: 18px;
      }
      .item a {
        padding: 15% 10%;
      }
    }
  }
  // **** //// f o o t e r ////  **** //
  footer .inner {
    flex-direction: column;
    align-items: flex-start;
  }
  .ft-right {
    width: 100%;
  }
  .ft_menu {
    width: 100%;
    justify-content: space-between;
  }
  .ft_info {
    width: 100%;
    margin: 20px 0 10px;
    li {
      display: inline-block;
    }
    li:nth-child(3) p .slash:nth-child(1) {
      display: inline-block;
    }
  }
  .ft-right > div {
    margin: 10px 0 0;
  }
  .ft_menu > a {
    margin: 0;
  }
}
// width 421px ~ 767px까지
@include tablet {
  // **** //// h e a d e r //// **** //
  .header-top,
  .category-link {
    display: none;
  }
  // **** //// m a i n //// **** //
  .main-visual {
    margin: 0;
    min-height: 500px;
    .text {
      top: 200px;
      .visual-title {
        font-size: 44px;
      }
      > a {
        height: 30px;
        padding: 0 0 0 50px;
        margin: 30px 0 0;
        &::before {
          width: 30px;
        }
      }
    }
  }
  .about {
    margin: 100px 0 0;
    .items-box .item {
      width: 48%;
      height: 220px;
      &:hover {
        border-bottom-right-radius: 40px;
      }
    }
    .text {
      margin: 0 0 30px;
      .section-em {
        font-size: 30px;
      }
      .ex-text {
        margin: 20px 0 0;
      }
    }
  }
  // **** //// f o o t e r ////  **** //
  .ft_logo {
    margin: 0 auto;
  }
  .ft_info {
    text-align: center;
    li {
      display: block;
    }
    li:nth-child(1) {
      justify-content: center;
    }
    li:nth-child(3) p .slash:nth-child(1) {
      display: none;
    }
  }
  .ft-right {
    text-align: center;
  }
  .ft_sns,
  .ft-depth {
    justify-content: center;
  }
  .ft_menu {
    flex-wrap: wrap;
    ul {
      width: 100%;
    }
    > a {
      margin: 20px auto 0;
    }
  }
}
// width min ~ 420px까지
@include mobile {
  // **** //// m a i n //// **** //
  .main-visual {
    .text {
      .visual-title {
        font-size: 36px;
      }
    }
  }
  .about {
    .items-box {
      .item-top {
        font-size: 1em;
        padding: 24px 0 0;
      }
      .item {
        height: 200px;
        &:hover {
          border-bottom-right-radius: 30px;
        }
      }
    }
    .text {
      margin: 0 0 20px;
      .section-em {
        font-size: 24px;
      }
      .ex-text {
        margin: 10px 0 0;
      }
    }
  }
  // **** //// f o o t e r ////  **** //
  .ft_info {
    font-size: 13px;
    li:nth-child(1) {
      flex-wrap: wrap;
      .slash {
        display: none;
      }
      > strong {
        width: 100%;
      }
    }
  }
}
