// used font family Jua
@mixin usedFontJua {
  font-family: "Jua", sans-serif;
  font-size: 1.563em;
  font-weight: normal;
}
// used font family Poppins
@mixin usedFontPoppins {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

// blind
@mixin blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

// ellipsis
@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}

// ::pseudo-element
@mixin element($width, $height, $top: 0, $left: 0) {
  content: "";
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
}

// box-sizing : border-box
@mixin border($padding: 0, $border: 0, $color: $color_primary) {
  padding: $padding;
  border: $border solid $color;
  box-sizing: border-box;
}
// box-sizing : border-box
@mixin padding($padding) {
  padding: $padding;
  box-sizing: border-box;
}

// float align
@mixin float {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

// mediaquery
@mixin desktop {
  @media screen and (max-width:#{$desktop}) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width:#{$tablet}) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width:#{$mobile}) {
    @content;
  }
}
@mixin otherPoint($size) {
  @media screen and (max-width:#{$size}) {
    @content;
  }
}

// Animation Settings & Execution
@mixin transform-mixin($name, $variation, $from, $to) {
  @keyframes #{$name} {
    0% {
      transform: #{$variation }($from);
      opacity: 0;
    }
    100% {
      transform: #{$variation }($to);
      opacity: 1;
    }
  }
}
@mixin normal-mixin($name, $variation, $from, $to) {
  @keyframes #{$name} {
    0% {
      opacity: 0;
      #{$variation}: $from;
    }
    100% {
      opacity: 1;
      #{$variation}: $to;
    }
  }
}
/// header contents
@include transform-mixin(topRotate, rotate, 360deg, 45deg);
@include transform-mixin(underRotate, rotate, 360deg, -45deg);
@include normal-mixin(hoverRod, width, 0, 100%);
/// main contents
@include transform-mixin(rightToLeft, translateX, 30px, 0);
@include transform-mixin(leftToRight, translateX, -40px, 0);
@include transform-mixin(scale, scale, 0, 100%);
@include transform-mixin(toUp-tr, translateY, 100px, 0);
@include normal-mixin(toUp-nm, top, 100px, 0);
