// used font family Jua
@mixin usedFontJua {
  font-family: "Jua", sans-serif;
  font-size: 1.563em;
  font-weight: normal;
}
// used font family Poppins
@mixin usedFontPoppins {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

// blind
@mixin blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

// ellipsis
@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}

// ::pseudo-element
@mixin element($width, $height, $top: 0, $left: 0) {
  content: "";
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
}

// box-sizing : border-box
@mixin border($padding: 0, $border: 0, $color: $color_primary) {
  padding: $padding;
  border: $border solid $color;
  box-sizing: border-box;
}
// box-sizing : border-box
@mixin padding($padding) {
  padding: $padding;
  box-sizing: border-box;
}

// float align
@mixin float {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

// mediaquery
@mixin desktop {
  @media screen and (max-width:#{$desktop}) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width:#{$tablet}) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width:#{$mobile}) {
    @content;
  }
}
@mixin otherPoint($size) {
  @media screen and (max-width:#{$size}) {
    @content;
  }
}

// Animation Settings & Execution
@mixin keyframes($animationName) {
  @content;
}

@mixin animation($name) {
  @keyframes #{$name} {
    @content;
  }
}

@include animation(toRightfromLeft) {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes movingRnL {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes movingLnR {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes changeScale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes movingUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes movingUpp {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
