// 사용 폰트
$font-ko: "Noto Sans KR", "맑은 고딕", Dotum, Arial, sans-serif;
$font-en: "Poppins", "Noto Sans KR", "맑은 고딕", Dotum, Arial, sans-serif;

// 폰트 크기
$font-size_small: 0.875em; //14px
$font-size: 1em; //16px
$font-size_normal: 1.25em; //20px
$font-size_large: 1.375em; //22px
$font-size_mainTitle: 3.875em; // 62px
$font-size_mobileLnb: 1.125em; //18px

// 색상
$color_black: #444;
$color_gray: #999;
$color-visual_pink: #ffa4c0;
$color-title_gray: #d2d5dd;
$color_primary: #ee7399;
$color-moblie-hover: #f6daa4;

// 미디어쿼리 분기점
$desktop: 1023px; // 768px ~ 1023px 스타일 (1023px 이하)
$tablet: 767px; // 421px ~ 767px 스타일 (767px 이하)
$mobile: 420px; // min ~ 420px; (420px 이하)
